@using BlazorBattles.Client.Services
@inject IFoodService FoodService
<button class="btn btn-info" @onclick="IncreaseFood">+</button>

@code {
	public void IncreaseFood()
	{
		FoodService.AddFood(10);
	}
}
