@using BlazorBattles.Client.Services
@inject IFoodService FoodService
@implements IDisposable

<div >
@FoodService.Food Food
	<AddFood />
</div>

@code {
	protected override void OnInitialized()
	{
		FoodService.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		FoodService.OnChange -= StateHasChanged;
	}
}
