@using BlazorBattles.Client.Services
@inject IFoodService FoodService
@implements IDisposable

<AuthorizeView>
	<Authorized>
		<div >
			@FoodService.Food Food
			<AddFood/>
		</div>
	</Authorized>
	<NotAuthorized>
		<div>
			<NavLink href="login">Login</NavLink>
			<NavLink href="register">Register</NavLink>
		</div>
	</NotAuthorized>
</AuthorizeView>

@code {
	protected override void OnInitialized()
	{
		FoodService.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		FoodService.OnChange -= StateHasChanged;
	}
}
